{% extends 'layouts/content_base.html' %} 
{% load static %} 

{% block content_option %}
<div class="container">
    <!-- Sección de Sensosoft IA (Texto arriba) -->
    <div class="row mb-5">
        <div class="col-md-12 text-center">
            <h2 class="section-title">Sensosoft IA</h2>
            <p>
                Aplicación web para la evaluación sensorial de cervezas artesanales producidas por la cervecería USACA de la Universidad Santiago de Cali. El sistema permitirá recolectar, analizar y visualizar datos sensoriales clave como aroma, sabor, color y textura, utilizando inteligencia artificial para generar reportes visuales que ayuden a mejorar la calidad y consistencia del producto.
            </p>
        </div>
    </div>

    <!-- Sección de Misión y Visión (Misión a la izquierda, Visión a la derecha) -->
    <div class="row">
        <!-- Columna de Misión (alineada a la izquierda) -->
        <div class="col-md-5">
            <h2 class="section-title">Misión</h2>
            <p class="text-justify">
                Es proporcionar a la cervecería USACA una solución tecnológica avanzada para la evaluación sensorial de cervezas artesanales, mejorando la calidad y consistencia del producto a través de la automatización, el análisis de datos precisos y la generación de reportes visuales. Nuestro objetivo es optimizar el control de calidad y facilitar la toma de decisiones basadas en datos confiables.
            </p>
        </div>
        
        <!-- Columna de Visión (alineada a la derecha con offset) -->
        <div class="col-md-5 d-flex justify-content-end">
            <div class="text-right">
                <h2 class="section-title">Visión</h2>
                <p class="text-justify">
                    Ser la herramienta líder en el mercado para la evaluación sensorial de cervezas artesanales, integrando inteligencia artificial y tecnología de vanguardia para transformar el control de calidad en la industria cervecera, contribuyendo a la excelencia y reconocimiento internacional de las cervezas producidas por la cervecería USACA.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
